.wrapper {
  padding: 1.5rem;
  background-color: var(--gray-500);
  width: 100%;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 50px;
  align-items: center;
  margin-bottom: 1rem;
}

.input {
  background-color: var(--blue);
  margin-right: 1.25rem;
}

.label {
  font-weight: 400;
  font-size: var(--text-md);
  color: var(--gray-100);
  display: inline-flex;
  margin-right: 1.25rem;
}

.isStrikeThrough {
  text-decoration: line-through;
}


.icon {
  filter: brightness(50%);
  transition: all .5s linear;
  cursor: pointer;
}

.icon:hover {
  filter: brightness(1)
}
