.wrapper {
  padding: 1.5rem;
  background-color: var(--gray-500);
  width: 100%;
  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  display: grid;
  grid-template-columns: auto 50px;
  align-items: center;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  color: dodgerblue;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: var(--gray-500);
  transition: background 300ms;
  cursor: pointer;
  margin-right: 1.25rem;
}

input[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 2px var(--blue);
}

input[type=checkbox]:checked {
  background-color: var(--dark-purple);
}

input[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

input[type=checkbox]:disabled {
  background-color: transparent;
  opacity: 0.84;
  cursor: not-allowed;
}

.label {
  font-weight: 400;
  font-size: var(--text-md);
  color: var(--gray-100);
  display: inline-flex;
  margin-right: 1.25rem;
  cursor: pointer;
}

.isStrikeThrough {
  text-decoration: line-through;
}

.icon {
  filter: brightness(50%);
  transition: all .5s linear;
  cursor: pointer;
}

.icon:hover {
  filter: brightness(1)
}
